.form{
    background-color: white;
    width: 40vw;
    border-radius:7px;
    padding:10px;
    margin-top: 20px;
}

.form__div{
    font-size: 17px;
    font-weight: bold;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.form__div > label{
    width: 100%;
    margin-bottom: 7px;
}

